@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: #ffffff;
}
body{
  background-color: #000;
}
#tasklist::-webkit-scrollbar{
  display: none;
}
#employeeTable::-webkit-scrollbar{
  display: none;
}